*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
html{
    font-size: 62.5;
    text-align: center;
}
#logo{
    width: 60vw;
    height: 15vh;
    box-shadow: none;
    filter:alpha(opacity=80);
    -moz-opacity:.80; opacity:.80;
}
body{
    background-color: black;
    background-image:url("img/hall.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    text-shadow: white 0 0 20px;
}
header{
    width: 100vw;
    height:20vh;
    border: 3px solid #ff0af4;
    box-shadow: #ff0af4 0 0 10px;
}
h1{
    display: inline-block;
    width: auto;
}
main{
    /* border: 3px solid #ff0af4; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    align-items:baseline;
    }
figure{
    background-color: #999;

    filter:alpha(opacity=80);
    -moz-opacity:.80; opacity:.80;
    margin: 5vh 0;
    border: #ff0af4 solid 3px;
    box-shadow: #ff0af4 0 0 10px;
    border-radius: 20px;
    width: 85vw;
    padding: 3%;
    /*height: 500px;*/

}
img{
    filter:alpha(opacity=100);
    -moz-opacity:100; opacity:100;
    border-radius: 10px;
    margin: 2vh 0;
    width:85%;
    height: auto;
    box-shadow: #ff0af4 0 0 30px;
}
#halley{
    border: none;
    box-shadow: none;
    width: 10vw;
}
figcaption{
    font-size: 1.3rem;
}
span{
    color: #ff0af4;
    text-shadow: #ff0af4 0 0 10px;

}
footer{
    width: 100vw;
    height:20vh;
    border: 3px solid #ff0af4;
    box-shadow: #ff0af4 0 0 10px;
}
.hey{
    color: white;
    font-size: 1.3rem;
    
}